packages:
  yum:
    git: []
    gcc: []
    gcc-c++: []
    libcurl-devel: []
    binutils: []
    libffi-devel: []
    libyaml: []
    libyaml-devel: []
    libxml2: []
    libxml2-devel: []
    libxslt : []
    libxslt-devel: []
    zlib: []
    zlib-devel: []
    file-devel: []

commands:
  01_enable_root_access:
    command: test -e sudo-patched.txt || echo Defaults:root \!requiretty >> /etc/sudoers && echo 'yes' > sudo-patched.txt && echo 'export PATH=$PATH:/usr/local/bin' >> .bash_profile && echo 'alias active=source /opt/python/current/env && source /opt/python/run/venv/bin/activate'
